In [1]:
import os
import pandas as pd
import numpy as np
from IPython.display import display

from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.pipeline import Pipeline
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA, TruncatedSVD, LatentDirichletAllocation
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
from tune import Tune

In [3]:
def save_to(df, file_name):
    df.to_csv(loc_prefix + '/data/' + file_name, index=False)
def read_csv(file_name):
    return pd.read_csv(loc_prefix + '/data/' + file_name)

paral_procs = -1
tune = Tune(best_name='best_tfidf_tsne_ohe')
loc_prefix = '.'

In [4]:
# df_m = pd.read_csv(loc_prefix + '/data/feats_merge_train.csv')
# df_m = pd.read_csv(loc_prefix + '/data/feats_merge_train.csv')
df_m = read_csv('train/new/preprocessed_train.csv')
df_t = read_csv('train/new/title_tfidf_tsne_train.csv')
# df_t = read_csv('train/new/title_tfidf_lda_train.csv')
# df_t = read_csv('train/new/title_tfidf_lda100_train.csv')
df_c = read_csv('train/new/content_tfidf_tsne_train.csv')
# df_c = read_csv('train/new/content_tfidf_lda_train.csv
# df_c = read_csv('train/new/content_tfidf_lda100_train.csv
df_tp = read_csv('train/new/topic_tfidf_tsne_train.csv')
# df_c = read_csv('train/new/topic_tfidf_lda_train.csv
# df_c = read_csv('train/new/topic_tfidf_lda100_train.csv

print(f'preprocessed_train: {df_m.shape}')
display(df_m.head(5))
print(f'title_tfidf_tsne_train: {df_t.shape}')
display(df_t.head(5))
print(f'content_tfidf_tsne_train: {df_c.shape}')
display(df_c.head(5))
print(f'topic_tfidf_tsne_train: {df_tp.shape}')
display(df_tp.head(5))

preprocessed_train: (27643, 21)

,index,Id,Popularity,Page content,data-channel,title,raw_content,content_length,avg_word_length,topics,...,year,month,day,hour,min,sec,weekends,img_number,link_number,title_length
0,0,0,-1,"<html><head><div class=""article-info""> <span c...",32,nasa grand challenge stop asteroid from destro...,there may killer asteroid head earth nasa deci...,583,5.214905,asteroid asteroids challenge earth space u s w...,...,2013,6,19,15,4,30,0,1,22,60
1,1,1,1,"<html><head><div class=""article-info""><span cl...",28,google new open sourc patent pledge We won t s...,googl took stand sort patent lawsuit theater t...,309,5.032787,app software google open source opn pledge pat...,...,2013,3,28,17,40,55,0,2,18,74
2,2,2,1,"<html><head><div class=""article-info""><span cl...",7,ballin nfl draft pick get choos their own walk...,you v spend countless hour train american foot...,1360,4.750225,entertainment nfl nfl draft sports televis,...,2014,5,7,19,15,20,0,2,11,68
3,3,3,-1,"<html><head><div class=""article-info""><span cl...",31,cameraperson fail deliv slapstick laugh,tire old sport fail news fails let cameraperso...,476,4.841727,sports video videos watercool,...,2013,10,11,2,26,50,0,1,13,43
4,4,4,-1,"<html><head><div class=""article-info""><span cl...",7,nfl star help young fan prove friendship with ...,At pounds all pro nfl star j j watt terror for...,1937,5.089650,entertainment instagram instagram video nfl sport,...,2014,4,17,3,31,43,0,52,16,61

title_tfidf_tsne_train: (27643, 3)

           0          1          2
0 -24.737951   5.850141  21.266773
1 -14.142911 -13.071835  20.469230
2   0.245460 -16.165123  -2.920294
3  18.203428  12.059496  15.264968
4  21.948260   7.892741  33.893110

content_tfidf_tsne_train: (27643, 3)

           0          1          2
0  22.294998   5.967730  10.665267
1  -0.651020  -2.386842  13.334524
2 -18.048435   1.957378 -22.922980
3  11.002135 -11.618053 -20.655424
4  -1.987744  21.223974 -15.827093

topic_tfidf_tsne_train: (27643, 3)

           0          1          2
0 -24.340359  -7.455764  13.726552
1  14.029861 -10.953203  16.245693
2 -13.134975  -4.374239 -15.644710
3 -11.445214   0.369961 -28.548351
4 -14.418124 -12.824256 -19.939749

In [22]:
df_t = df_t.rename(columns={'0': 'title_0', '1': 'title_1', '2': 'title_2'})
df_c = df_c.rename(columns={'0': 'content_0', '1': 'content_1', '2': 'content_2'})
df_tp = df_tp.rename(columns={'0': 'topic_0', '1': 'topic_1', '2': 'topic_2'})

print(f'title_tfidf_tsne_train: {df_t.shape}')
display(df_t.head(5))
print(f'content_tfidf_tsne_train: {df_c.shape}')
display(df_c.head(5))
print(f'topic_tfidf_tsne_train: {df_tp.shape}')
display(df_tp.head(5))

title_tfidf_tsne_train: (27643, 3)

     title_0    title_1    title_2
0 -24.737951   5.850141  21.266773
1 -14.142911 -13.071835  20.469230
2   0.245460 -16.165123  -2.920294
3  18.203428  12.059496  15.264968
4  21.948260   7.892741  33.893110

content_tfidf_tsne_train: (27643, 3)

   content_0  content_1  content_2
0  22.294998   5.967730  10.665267
1  -0.651020  -2.386842  13.334524
2 -18.048435   1.957378 -22.922980
3  11.002135 -11.618053 -20.655424
4  -1.987744  21.223974 -15.827093

topic_tfidf_tsne_train: (27643, 3)

     topic_0    topic_1    topic_2
0 -24.340359  -7.455764  13.726552
1  14.029861 -10.953203  16.245693
2 -13.134975  -4.374239 -15.644710
3 -11.445214   0.369961 -28.548351
4 -14.418124 -12.824256 -19.939749

In [23]:
df_all = pd.concat([df_tp, df_m, df_t], axis=1)

In [24]:
print('df_all Number of NaN in each column')
print(df_all.isna().sum())

df_all Number of NaN in each column
topic_0              0
topic_1              0
topic_2              0
index                0
Id                   0
Popularity           0
Page content         0
data-channel         0
title                0
raw_content          0
content_length       0
avg_word_length      0
topics             126
author               0
year                 0
month                0
day                  0
hour                 0
min                  0
sec                  0
weekends             0
img_number           0
link_number          0
title_length         0
title_0              0
title_1              0
title_2              0
dtype: int64

In [25]:
df_drop = df_all.dropna()
print(f'df_drop {df_drop.shape}')
display(df_drop.head(5))

df_drop (27517, 27)

,topic_0,topic_1,topic_2,index,Id,Popularity,Page content,data-channel,title,raw_content,...,hour,min,sec,weekends,img_number,link_number,title_length,title_0,title_1,title_2
0,-24.340359,-7.455764,13.726552,0,0,-1,"<html><head><div class=""article-info""> <span c...",32,nasa grand challenge stop asteroid from destro...,there may killer asteroid head earth nasa deci...,...,15,4,30,0,1,22,60,-24.737951,5.850141,21.266773
1,14.029861,-10.953203,16.245693,1,1,1,"<html><head><div class=""article-info""><span cl...",28,google new open sourc patent pledge We won t s...,googl took stand sort patent lawsuit theater t...,...,17,40,55,0,2,18,74,-14.142911,-13.071835,20.469230
2,-13.134975,-4.374239,-15.644710,2,2,1,"<html><head><div class=""article-info""><span cl...",7,ballin nfl draft pick get choos their own walk...,you v spend countless hour train american foot...,...,19,15,20,0,2,11,68,0.245460,-16.165123,-2.920294
3,-11.445214,0.369961,-28.548351,3,3,-1,"<html><head><div class=""article-info""><span cl...",31,cameraperson fail deliv slapstick laugh,tire old sport fail news fails let cameraperso...,...,2,26,50,0,1,13,43,18.203428,12.059496,15.264968
4,-14.418124,-12.824256,-19.939749,4,4,-1,"<html><head><div class=""article-info""><span cl...",7,nfl star help young fan prove friendship with ...,At pounds all pro nfl star j j watt terror for...,...,3,31,43,0,52,16,61,21.948260,7.892741,33.893110

In [26]:
df_all = df_drop

In [27]:
df_x = df_all.drop(columns=['index', 'Popularity', 'Page content', 'title', 'raw_content', 'topics'])
df_y = df_all.loc[:, ['Popularity']]

print(f'df_all {df_all.shape}')
display(df_all.head(5))
print(f'df_x {df_x.shape}')
display(df_x.head(5))
print(f'df_y {df_y.shape}')
display(df_y.head(5))

df_all (27517, 27)

,topic_0,topic_1,topic_2,index,Id,Popularity,Page content,data-channel,title,raw_content,...,hour,min,sec,weekends,img_number,link_number,title_length,title_0,title_1,title_2
0,-24.340359,-7.455764,13.726552,0,0,-1,"<html><head><div class=""article-info""> <span c...",32,nasa grand challenge stop asteroid from destro...,there may killer asteroid head earth nasa deci...,...,15,4,30,0,1,22,60,-24.737951,5.850141,21.266773
1,14.029861,-10.953203,16.245693,1,1,1,"<html><head><div class=""article-info""><span cl...",28,google new open sourc patent pledge We won t s...,googl took stand sort patent lawsuit theater t...,...,17,40,55,0,2,18,74,-14.142911,-13.071835,20.469230
2,-13.134975,-4.374239,-15.644710,2,2,1,"<html><head><div class=""article-info""><span cl...",7,ballin nfl draft pick get choos their own walk...,you v spend countless hour train american foot...,...,19,15,20,0,2,11,68,0.245460,-16.165123,-2.920294
3,-11.445214,0.369961,-28.548351,3,3,-1,"<html><head><div class=""article-info""><span cl...",31,cameraperson fail deliv slapstick laugh,tire old sport fail news fails let cameraperso...,...,2,26,50,0,1,13,43,18.203428,12.059496,15.264968
4,-14.418124,-12.824256,-19.939749,4,4,-1,"<html><head><div class=""article-info""><span cl...",7,nfl star help young fan prove friendship with ...,At pounds all pro nfl star j j watt terror for...,...,3,31,43,0,52,16,61,21.948260,7.892741,33.893110

df_x (27517, 21)

,topic_0,topic_1,topic_2,Id,data-channel,content_length,avg_word_length,author,year,month,...,hour,min,sec,weekends,img_number,link_number,title_length,title_0,title_1,title_2
0,-24.340359,-7.455764,13.726552,0,32,583,5.214905,301,2013,6,...,15,4,30,0,1,22,60,-24.737951,5.850141,21.266773
1,14.029861,-10.953203,16.245693,1,28,309,5.032787,94,2013,3,...,17,40,55,0,2,18,74,-14.142911,-13.071835,20.469230
2,-13.134975,-4.374239,-15.644710,2,7,1360,4.750225,352,2014,5,...,19,15,20,0,2,11,68,0.245460,-16.165123,-2.920294
3,-11.445214,0.369961,-28.548351,3,31,476,4.841727,352,2013,10,...,2,26,50,0,1,13,43,18.203428,12.059496,15.264968
4,-14.418124,-12.824256,-19.939749,4,7,1937,5.089650,102,2014,4,...,3,31,43,0,52,16,61,21.948260,7.892741,33.893110

df_y (27517, 1)

   Popularity
0          -1
1           1
2           1
3          -1
4          -1

In [10]:
# from sklearn.preprocessing import OneHotEncoder
# ohe = OneHotEncoder(categories='auto')

# df_ohe = ohe.fit_transform(df_x[['data-channel']]).toarray()
# df_ohe = pd.DataFrame(df_ohe)
# df_concat = pd.concat([df_x.drop(columns=['data-channel']), df_ohe], axis=1)
# # df_x = df_concat

# print(f'df_concat {df_concat.shape}')
# display(df_concat.head(5))
# print(f'df_x {df_x.shape}')
# display(df_x.head(5))
# print(f'df_y {df_y.shape}')
# display(df_y.head(5))

In [28]:
sel_samples_idxs = None

X_train = df_x[:sel_samples_idxs]
y_train = df_y[:sel_samples_idxs].values.ravel()

print(X_train.shape)
print(y_train.shape)

(27517, 21)
(27517,)

In [29]:
df_x.isnull().sum()

topic_0            0
topic_1            0
topic_2            0
Id                 0
data-channel       0
content_length     0
avg_word_length    0
author             0
year               0
month              0
day                0
hour               0
min                0
sec                0
weekends           0
img_number         0
link_number        0
title_length       0
title_0            0
title_1            0
title_2            0
dtype: int64

In [30]:
parallel_procs = -1

In [153]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = pd.DataFrame(sc.fit_transform(X_train.values), columns=df_x.columns)

In [33]:
from sklearn.linear_model import RidgeClassifier

pipe = Pipeline([
                 ('clf', RidgeClassifier())
                ])

params = [{
            #   'clf__alpha': [0.1, 1, 5, 10, 20, 50, 100],
            #   'clf__solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga'],
            # Best Result of above params: alpha:1, solver:auto, CV: 0.5875(ngram_range:(1, 1), lda n_components: 100, first 100 samples)
              # 'count__ngram_range': [(1, 1), (2, 2)],
              # 'lda__n_components': [2, 100],
              # 'lda__n_jobs': [paral_procs],
#               'clf__alpha': [0.1, 1],
              'clf__alpha': [0.1, 1, 5],
#               'clf__solver': ['auto', 'svd', 'cholesky', 'lsqr', 'sparse_cg', 'sag', 'saga'],
              'clf__solver': ['auto', 'sparse_cg'],
          }]
model_ridge, score, param, cv_results = tune.fit(X_train, y_train, pipe, params, 'ridge_tfidf_tsne_ohe', is_load_saved=True, is_show_cvs=True)

,param_clf__alpha,param_clf__solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,0.1,auto,"{'clf__alpha': 0.1, 'clf__solver': 'auto'}",0.554324,0.555414,0.553335,0.539706,0.554243,0.551404,0.005886,4,0.555193,0.001725
1,0.1,sparse_cg,"{'clf__alpha': 0.1, 'clf__solver': 'sparse_cg'}",0.554506,0.555414,0.553516,0.539706,0.554425,0.551513,0.005934,1,0.555239,0.001770
2,1.0,auto,"{'clf__alpha': 1, 'clf__solver': 'auto'}",0.554324,0.555414,0.553335,0.539706,0.554243,0.551404,0.005886,4,0.555193,0.001725
3,1.0,sparse_cg,"{'clf__alpha': 1, 'clf__solver': 'sparse_cg'}",0.554506,0.555414,0.553516,0.539706,0.554425,0.551513,0.005934,1,0.555239,0.001770
4,5.0,auto,"{'clf__alpha': 5, 'clf__solver': 'auto'}",0.554324,0.555414,0.553335,0.539706,0.554243,0.551404,0.005886,4,0.555175,0.001724
5,5.0,sparse_cg,"{'clf__alpha': 5, 'clf__solver': 'sparse_cg'}",0.554506,0.555414,0.553516,0.539706,0.554425,0.551513,0.005934,1,0.555220,0.001772

Mean Validation Score of Best: 0.5515133592564732
Params of Best: {'memory': None, 'steps': [('clf', RidgeClassifier(alpha=0.1, solver='sparse_cg'))], 'verbose': False, 'clf': RidgeClassifier(alpha=0.1, solver='sparse_cg'), 'clf__alpha': 0.1, 'clf__class_weight': None, 'clf__copy_X': True, 'clf__fit_intercept': True, 'clf__max_iter': None, 'clf__normalize': False, 'clf__random_state': None, 'clf__solver': 'sparse_cg', 'clf__tol': 0.001}
Recording Model: ridge_tfidf_tsne_ohe
Keep Best Model: rf_tfidf_tsne_ohe, CV Score: 0.5596538185830985

In [32]:
from sklearn.ensemble import RandomForestClassifier

params = [{
              'n_estimators': [200, 500, 2000], 
              'criterion': ['gini', 'entropy'],
              'n_jobs': [parallel_procs]
          }]

model_svc, score, param, cv_results = tune.fit(X_train, y_train, RandomForestClassifier(), 
                                               params, 'rf_tfidf_tsne_ohe', is_load_saved=True, is_show_cvs=True)

,param_criterion,param_n_estimators,param_n_jobs,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,gini,100,-1,"{'criterion': 'gini', 'n_estimators': 100, 'n_...",0.549237,0.555959,0.558968,0.545339,0.544067,0.550714,0.005846,6,1.0,0.0
1,gini,200,-1,"{'criterion': 'gini', 'n_estimators': 200, 'n_...",0.558685,0.568314,0.557696,0.548428,0.554970,0.557618,0.006434,2,1.0,0.0
2,gini,500,-1,"{'criterion': 'gini', 'n_estimators': 500, 'n_...",0.558140,0.567042,0.564056,0.553516,0.555515,0.559654,0.005120,1,1.0,0.0
3,entropy,100,-1,"{'criterion': 'entropy', 'n_estimators': 100, ...",0.555778,0.565044,0.554425,0.555879,0.543158,0.554857,0.006967,3,1.0,0.0
4,entropy,200,-1,"{'criterion': 'entropy', 'n_estimators': 200, ...",0.544331,0.568496,0.560785,0.548610,0.547520,0.553948,0.009173,4,1.0,0.0
5,entropy,500,-1,"{'criterion': 'entropy', 'n_estimators': 500, ...",0.539062,0.570131,0.556969,0.551336,0.542431,0.551986,0.011071,5,1.0,0.0

Mean Validation Score of Best: 0.5596538185830985
Params of Best: {'bootstrap': True, 'ccp_alpha': 0.0, 'class_weight': None, 'criterion': 'gini', 'max_depth': None, 'max_features': 'auto', 'max_leaf_nodes': None, 'max_samples': None, 'min_impurity_decrease': 0.0, 'min_impurity_split': None, 'min_samples_leaf': 1, 'min_samples_split': 2, 'min_weight_fraction_leaf': 0.0, 'n_estimators': 500, 'n_jobs': -1, 'oob_score': False, 'random_state': None, 'verbose': 0, 'warm_start': False}
Recording Model: rf_tfidf_tsne_ohe
Update Best Model: rf_tfidf_tsne_ohe, CV: 0.5596538185830985

In [21]:
from sklearn.linear_model import LogisticRegression

params = [{
            'penalty': ['l1', 'l2', 'elasticnet', 'none'],
            'C': [10, 1, 0.1],
            'solver': ['newton-cg', 'lbfgs', 'liblinear', 'sag', 'saga'],
            'n_jobs': [parallel_procs]
         }]

model_svc, score, param, cv_results = tune.fit(df_x.loc[:, ['weekends', 'month', 'title_length', 'link_number', 'data-channel']].values, y_train, LogisticRegression(), 
                                               params, 'lr_tfidf_tsne_ohe', is_load_saved=False, is_show_cvs=True)

/home/pp20/pp20s02/.local/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:1353: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 12.
  warnings.warn("'n_jobs' > 1 does not have any effect when"

,param_C,param_n_jobs,param_penalty,param_solver,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,10,-1,l1,newton-cg,"{'C': 10, 'n_jobs': -1, 'penalty': 'l1', 'solv...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,60,NaN,NaN
1,10,-1,l1,lbfgs,"{'C': 10, 'n_jobs': -1, 'penalty': 'l1', 'solv...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,42,NaN,NaN
2,10,-1,l1,liblinear,"{'C': 10, 'n_jobs': -1, 'penalty': 'l1', 'solv...",0.559048,0.555414,0.552971,0.540432,0.554425,0.552458,0.006339,7,0.552322,0.001073
3,10,-1,l1,sag,"{'C': 10, 'n_jobs': -1, 'penalty': 'l1', 'solv...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,41,NaN,NaN
4,10,-1,l1,saga,"{'C': 10, 'n_jobs': -1, 'penalty': 'l1', 'solv...",0.557958,0.554324,0.551881,0.536616,0.560240,0.552204,0.008310,20,0.551196,0.001761
5,10,-1,l2,newton-cg,"{'C': 10, 'n_jobs': -1, 'penalty': 'l2', 'solv...",0.559048,0.555233,0.552971,0.540432,0.554243,0.552385,0.006311,10,0.552368,0.001092
6,10,-1,l2,lbfgs,"{'C': 10, 'n_jobs': -1, 'penalty': 'l2', 'solv...",0.559048,0.555233,0.552971,0.540069,0.554243,0.552313,0.006449,17,0.552377,0.001113
7,10,-1,l2,liblinear,"{'C': 10, 'n_jobs': -1, 'penalty': 'l2', 'solv...",0.559048,0.555233,0.553335,0.540432,0.554243,0.552458,0.006320,3,0.552368,0.001092
8,10,-1,l2,sag,"{'C': 10, 'n_jobs': -1, 'penalty': 'l2', 'solv...",0.559775,0.555051,0.552426,0.536435,0.556242,0.551986,0.008127,29,0.551550,0.001895
9,10,-1,l2,saga,"{'C': 10, 'n_jobs': -1, 'penalty': 'l2', 'solv...",0.557958,0.554324,0.551699,0.536435,0.560058,0.552095,0.008345,22,0.551187,0.001787
10,10,-1,elasticnet,newton-cg,"{'C': 10, 'n_jobs': -1, 'penalty': 'elasticnet...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,NaN
11,10,-1,elasticnet,lbfgs,"{'C': 10, 'n_jobs': -1, 'penalty': 'elasticnet...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,NaN,NaN
12,10,-1,elasticnet,liblinear,"{'C': 10, 'n_jobs': -1, 'penalty': 'elasticnet...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,44,NaN,NaN
13,10,-1,elasticnet,sag,"{'C': 10, 'n_jobs': -1, 'penalty': 'elasticnet...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,59,NaN,NaN
14,10,-1,elasticnet,saga,"{'C': 10, 'n_jobs': -1, 'penalty': 'elasticnet...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,48,NaN,NaN
15,10,-1,none,newton-cg,"{'C': 10, 'n_jobs': -1, 'penalty': 'none', 'so...",0.559048,0.555233,0.552971,0.540432,0.554243,0.552385,0.006311,10,0.552368,0.001092
16,10,-1,none,lbfgs,"{'C': 10, 'n_jobs': -1, 'penalty': 'none', 'so...",0.559048,0.555233,0.552971,0.540614,0.554425,0.552458,0.006254,3,0.552359,0.001096
17,10,-1,none,liblinear,"{'C': 10, 'n_jobs': -1, 'penalty': 'none', 'so...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,NaN
18,10,-1,none,sag,"{'C': 10, 'n_jobs': -1, 'penalty': 'none', 'so...",0.559593,0.554869,0.552789,0.536435,0.556242,0.551986,0.008084,28,0.551568,0.001908
19,10,-1,none,saga,"{'C': 10, 'n_jobs': -1, 'penalty': 'none', 'so...",0.557776,0.554324,0.551881,0.536616,0.560422,0.552204,0.008320,19,0.551232,0.001765
20,1,-1,l1,newton-cg,"{'C': 1, 'n_jobs': -1, 'penalty': 'l1', 'solve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,53,NaN,NaN
21,1,-1,l1,lbfgs,"{'C': 1, 'n_jobs': -1, 'penalty': 'l1', 'solve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,NaN
22,1,-1,l1,liblinear,"{'C': 1, 'n_jobs': -1, 'penalty': 'l1', 'solve...",0.559775,0.556141,0.552789,0.539887,0.554243,0.552567,0.006758,2,0.552168,0.001040
23,1,-1,l1,sag,"{'C': 1, 'n_jobs': -1, 'penalty': 'l1', 'solve...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,47,NaN,NaN
24,1,-1,l1,saga,"{'C': 1, 'n_jobs': -1, 'penalty': 'l1', 'solve...",0.557776,0.554324,0.551517,0.536253,0.560240,0.552022,0.008425,26,0.551205,0.001758
25,1,-1,l2,newton-cg,"{'C': 1, 'n_jobs': -1, 'penalty': 'l2', 'solve...",0.559048,0.555596,0.553153,0.540069,0.554061,0.552385,0.006477,14,0.552404,0.001052
26,1,-1,l2,lbfgs,"{'C': 1, 'n_jobs': -1, 'penalty': 'l2', 'solve...",0.559048,0.555414,0.553153,0.540069,0.554061,0.552349,0.006460,15,0.552377,0.001086
27,1,-1,l2,liblinear,"{'C': 1, 'n_jobs': -1, 'penalty': 'l2', 'solve...",0.559048,0.555596,0.553335,0.540069,0.554243,0.552458,0.006492,8,0.552304,0.001061
28,1,-1,l2,sag,"{'C': 1, 'n_jobs': -1, 'penalty': 'l2', 'solve...",0.559775,0.554869,0.552789,0.536253,0.556060,0.551949,0.008170,31,0.551559,0.001912
29,1,-1,l2,saga,"{'C': 1, 'n_jobs': -1, 'penalty': 'l2', 'solve...",0.557776,0.554324,0.551517,0.536253,0.560058,0.551986,0.008389,27,0.551141,0.001766
30,1,-1,elasticnet,newton-cg,"{'C': 1, 'n_jobs': -1, 'penalty': 'elasticnet'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,58,NaN,NaN
31,1,-1,elasticnet,lbfgs,"{'C': 1, 'n_jobs': -1, 'penalty': 'elasticnet'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,57,NaN,NaN
32,1,-1,elasticnet,liblinear,"{'C': 1, 'n_jobs': -1, 'penalty': 'elasticnet'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,56,NaN,NaN
33,1,-1,elasticnet,sag,"{'C': 1, 'n_jobs': -1, 'penalty': 'elasticnet'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,55,NaN,NaN
34,1,-1,elasticnet,saga,"{'C': 1, 'n_jobs': -1, 'penalty': 'elasticnet'...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,54,NaN,NaN
35,1,-1,none,newton-cg,"{'C': 1, 'n_jobs': -1, 'penalty': 'none', 'sol...",0.559048,0.555233,0.552971,0.540432,0.554243,0.552385,0.006311,10,0.552368,0.001092
36,1,-1,none,lbfgs,"{'C': 1, 'n_jobs': -1, 'penalty': 'none', 'sol...",0.559048,0.555233,0.552971,0.540614,0.554425,0.552458,0.006254,3,0.552359,0.001096
37,1,-1,none,liblinear,"{'C': 1, 'n_jobs': -1, 'penalty': 'none', 'sol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,52,NaN,NaN
38,1,-1,none,sag,"{'C': 1, 'n_jobs': -1, 'penalty': 'none', 'sol...",0.559775,0.554869,0.552244,0.536435,0.556242,0.551913,0.008111,33,0.551577,0.001885
39,1,-1,none,saga,"{'C': 1, 'n_jobs': -1, 'penalty': 'none', 'sol...",0.557776,0.554324,0.551699,0.536435,0.560058,0.552058,0.008319,24,0.551168,0.001775
40,0.1,-1,l1,newton-cg,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l1', 'sol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,NaN,NaN
41,0.1,-1,l1,lbfgs,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l1', 'sol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,49,NaN,NaN
42,0.1,-1,l1,liblinear,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l1', 'sol...",0.559956,0.555414,0.551881,0.539342,0.555697,0.552458,0.007040,9,0.551550,0.001576
43,0.1,-1,l1,sag,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l1', 'sol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,46,NaN,NaN
44,0.1,-1,l1,saga,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l1', 'sol...",0.557776,0.554142,0.551336,0.536435,0.560058,0.551949,0.008314,30,0.551105,0.001678
45,0.1,-1,l2,newton-cg,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'sol...",0.558866,0.555596,0.552608,0.539706,0.554425,0.552240,0.006591,18,0.552377,0.001050
46,0.1,-1,l2,lbfgs,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'sol...",0.558866,0.555596,0.552608,0.539524,0.554425,0.552204,0.006660,21,0.552359,0.001062
47,0.1,-1,l2,liblinear,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'sol...",0.561047,0.556141,0.552426,0.539524,0.554788,0.552785,0.007204,1,0.552168,0.000982
48,0.1,-1,l2,sag,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'sol...",0.560320,0.555233,0.552971,0.536616,0.556605,0.552349,0.008220,16,0.551713,0.001969
49,0.1,-1,l2,saga,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'sol...",0.557958,0.554506,0.551517,0.536071,0.560240,0.552058,0.008528,25,0.551277,0.001673
50,0.1,-1,elasticnet,newton-cg,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'elasticne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,36,NaN,NaN
51,0.1,-1,elasticnet,lbfgs,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'elasticne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,37,NaN,NaN
52,0.1,-1,elasticnet,liblinear,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'elasticne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,NaN,NaN
53,0.1,-1,elasticnet,sag,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'elasticne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,NaN,NaN
54,0.1,-1,elasticnet,saga,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'elasticne...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,40,NaN,NaN
55,0.1,-1,none,newton-cg,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'none', 's...",0.559048,0.555233,0.552971,0.540432,0.554243,0.552385,0.006311,10,0.552368,0.001092
56,0.1,-1,none,lbfgs,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'none', 's...",0.559048,0.555233,0.552971,0.540614,0.554425,0.552458,0.006254,3,0.552359,0.001096
57,0.1,-1,none,liblinear,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'none', 's...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,43,NaN,NaN
58,0.1,-1,none,sag,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'none', 's...",0.559775,0.554869,0.552244,0.536435,0.556424,0.551949,0.008131,31,0.551614,0.001863
59,0.1,-1,none,saga,"{'C': 0.1, 'n_jobs': -1, 'penalty': 'none', 's...",0.557958,0.554324,0.551699,0.536435,0.560058,0.552095,0.008345,22,0.551196,0.001758

Mean Validation Score of Best: 0.5527851285662366
Params of Best: {'C': 0.1, 'n_jobs': -1, 'penalty': 'l2', 'solver': 'liblinear'}
Recording Model: lr_tfidf_tsne_ohe
Init Best Model: lr_tfidf_tsne_ohe, CV: 0.5527851285662366

In [35]:
from sklearn.neighbors import KNeighborsClassifier

params = [{
            'n_neighbors': [5, 100, 200, 400],
            'weights': ['distance'],
            'metric': ['manhattan', 'minkowski'],
            'n_jobs': [parallel_procs]
         }]
model_svc, score, param, cv_results = tune.fit(X_train, y_train, KNeighborsClassifier(), 
                                               params, 'knn_tfidf_tsne_ohe', is_load_saved=False, is_show_cvs=True)

,param_metric,param_n_jobs,param_n_neighbors,param_weights,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,manhattan,-1,5,distance,"{'metric': 'manhattan', 'n_jobs': -1, 'n_neigh...",0.504179,0.498365,0.493731,0.493549,0.507360,0.499437,0.005543,8,1.0,0.0
1,manhattan,-1,100,distance,"{'metric': 'manhattan', 'n_jobs': -1, 'n_neigh...",0.502180,0.501453,0.492459,0.503362,0.498819,0.499655,0.003895,7,1.0,0.0
2,manhattan,-1,200,distance,"{'metric': 'manhattan', 'n_jobs': -1, 'n_neigh...",0.506904,0.508176,0.493367,0.508632,0.493004,0.502017,0.007234,2,1.0,0.0
3,manhattan,-1,400,distance,"{'metric': 'manhattan', 'n_jobs': -1, 'n_neigh...",0.509266,0.510174,0.497002,0.507178,0.493367,0.503397,0.006873,1,1.0,0.0
4,minkowski,-1,5,distance,"{'metric': 'minkowski', 'n_jobs': -1, 'n_neigh...",0.507449,0.497456,0.492277,0.507178,0.495730,0.500018,0.006186,6,1.0,0.0
5,minkowski,-1,100,distance,"{'metric': 'minkowski', 'n_jobs': -1, 'n_neigh...",0.510901,0.500000,0.493549,0.506814,0.493731,0.500999,0.006946,5,1.0,0.0
6,minkowski,-1,200,distance,"{'metric': 'minkowski', 'n_jobs': -1, 'n_neigh...",0.510174,0.503815,0.493731,0.507541,0.493549,0.501762,0.006933,3,1.0,0.0
7,minkowski,-1,400,distance,"{'metric': 'minkowski', 'n_jobs': -1, 'n_neigh...",0.509993,0.497820,0.497729,0.506814,0.493549,0.501181,0.006178,4,1.0,0.0

Mean Validation Score of Best: 0.5033974399270589
Params of Best: {'metric': 'manhattan', 'n_jobs': -1, 'n_neighbors': 400, 'weights': 'distance'}
Recording Model: knn_tfidf_tsne_ohe
Keep Best Model: rf_tfidf_tsne_ohe, CV Score: 0.5596538185830985

In [31]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier

params = [{   
              'base_estimator': [DecisionTreeClassifier(criterion='entropy')],
              'n_estimators': [10, 50, 100, 200, 1000],
              'learning_rate': [1, 0.01, 0.001, 0.0001],
              'random_state': [10],
              'algorithm': ['SAMME', 'SAMME.R']
         }]
model, score, param, cv_results = tune.fit(X_train, y_train, AdaBoostClassifier(), 
                                           params, 'ada_tfidf_tsne_ohe', is_load_saved=False, is_show_cvs=True)

,param_algorithm,param_base_estimator,param_learning_rate,param_n_estimators,param_random_state,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,SAMME,DecisionTreeClassifier(criterion='entropy'),1,10,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
1,SAMME,DecisionTreeClassifier(criterion='entropy'),1,50,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
2,SAMME,DecisionTreeClassifier(criterion='entropy'),1,100,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
3,SAMME,DecisionTreeClassifier(criterion='entropy'),1,200,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
4,SAMME,DecisionTreeClassifier(criterion='entropy'),1,1000,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
5,SAMME,DecisionTreeClassifier(criterion='entropy'),0.01,10,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
6,SAMME,DecisionTreeClassifier(criterion='entropy'),0.01,50,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
7,SAMME,DecisionTreeClassifier(criterion='entropy'),0.01,100,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
8,SAMME,DecisionTreeClassifier(criterion='entropy'),0.01,200,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
9,SAMME,DecisionTreeClassifier(criterion='entropy'),0.01,1000,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
10,SAMME,DecisionTreeClassifier(criterion='entropy'),0.001,10,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
11,SAMME,DecisionTreeClassifier(criterion='entropy'),0.001,50,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
12,SAMME,DecisionTreeClassifier(criterion='entropy'),0.001,100,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
13,SAMME,DecisionTreeClassifier(criterion='entropy'),0.001,200,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
14,SAMME,DecisionTreeClassifier(criterion='entropy'),0.001,1000,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
15,SAMME,DecisionTreeClassifier(criterion='entropy'),0.0001,10,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
16,SAMME,DecisionTreeClassifier(criterion='entropy'),0.0001,50,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
17,SAMME,DecisionTreeClassifier(criterion='entropy'),0.0001,100,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
18,SAMME,DecisionTreeClassifier(criterion='entropy'),0.0001,200,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
19,SAMME,DecisionTreeClassifier(criterion='entropy'),0.0001,1000,10,"{'algorithm': 'SAMME', 'base_estimator': Decis...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
20,SAMME.R,DecisionTreeClassifier(criterion='entropy'),1,10,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
21,SAMME.R,DecisionTreeClassifier(criterion='entropy'),1,50,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
22,SAMME.R,DecisionTreeClassifier(criterion='entropy'),1,100,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
23,SAMME.R,DecisionTreeClassifier(criterion='entropy'),1,200,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
24,SAMME.R,DecisionTreeClassifier(criterion='entropy'),1,1000,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
25,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.01,10,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
26,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.01,50,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
27,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.01,100,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
28,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.01,200,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
29,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.01,1000,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
30,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.001,10,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
31,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.001,50,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
32,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.001,100,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
33,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.001,200,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
34,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.001,1000,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
35,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.0001,10,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
36,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.0001,50,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
37,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.0001,100,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
38,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.0001,200,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0
39,SAMME.R,DecisionTreeClassifier(criterion='entropy'),0.0001,1000,10,"{'algorithm': 'SAMME.R', 'base_estimator': Dec...",0.541061,0.523256,0.518626,0.519535,0.527167,0.525929,0.008147,1,1.0,0.0

Mean Validation Score of Best: 0.5259289726745242
Params of Best: {'algorithm': 'SAMME', 'base_estimator': DecisionTreeClassifier(criterion='entropy'), 'learning_rate': 1, 'n_estimators': 10, 'random_state': 10}
Recording Model: ada_tfidf_tsne_ohe
Keep Best Model: lr_tfidf_tsne_ohe, CV Score: 0.5527851285662366

In [34]:
from sklearn.neural_network import MLPClassifier

params = [{   
              'hidden_layer_sizes': [(100),
                                     (200),
                                     (100, 100),
                                     (100, 100, 100)],
#               'learning_rate': [0.01, 0.001, 0.0001],
         }]
model, score, param, cv_results = tune.fit(X_train, y_train, MLPClassifier(), 
                                           params, 'mlp_tfidf_tsne_ohe', is_load_saved=False, is_show_cvs=True)

,param_hidden_layer_sizes,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score,mean_train_score,std_train_score
0,100,{'hidden_layer_sizes': 100},0.517987,0.495276,0.508632,0.506814,0.506633,0.507068,0.007225,2,0.504324,0.008622
1,200,{'hidden_layer_sizes': 200},0.513263,0.493278,0.506451,0.506996,0.506088,0.505215,0.006523,4,0.507922,0.008825
2,"(100, 100)","{'hidden_layer_sizes': (100, 100)}",0.508903,0.493459,0.493004,0.529529,0.506633,0.506306,0.013328,3,0.511656,0.021900
3,"(100, 100, 100)","{'hidden_layer_sizes': (100, 100, 100)}",0.506541,0.513808,0.506451,0.506088,0.505542,0.507686,0.003081,1,0.510893,0.003977

Mean Validation Score of Best: 0.5076859767822202
Params of Best: {'hidden_layer_sizes': (100, 100, 100)}
Recording Model: mlp_tfidf_tsne_ohe
Keep Best Model: rf_tfidf_tsne_ohe, CV Score: 0.5596538185830985

In [ ]:
pipe = Pipeline([
                 ('clf', SVC())
                ])
                
params = [
#           {
#               'clf__C': [0.1, 1, 5], 
#               'clf__kernel': ['rbf'], 
#           },
          {
              'clf__C': [1, 5, 10], 
              'clf__kernel': ['poly'],
              'clf__degree': [3, 5]
          }
]
model_svc, score, param, cv_results = tune.fit(X_train, y_train, pipe, params, 'svc_tfidf_tsne_ohe')

In [60]:
# df_m = pd.read_csv(loc_prefix + '/data/feats_merge_train.csv')
# df_m = pd.read_csv(loc_prefix + '/data/feats_merge_train.csv')
df_m = read_csv('test/new/preprocessed_test.csv')
df_t = read_csv('test/new/title_tfidf_tsne_test.csv')
df_c = read_csv('test/new/content_tfidf_tsne_test.csv')
df_tp = read_csv('test/new/topic_tfidf_tsne_test.csv')

print(f'preprocessed_test: {df_m.shape}')
display(df_m.head(5))
print(f'title_tfidf_tsne_test: {df_t.shape}')
display(df_t.head(5))
print(f'content_tfidf_tsne_test: {df_c.shape}')
display(df_c.head(5))
print(f'topic_tfidf_tsne_test: {df_tp.shape}')
display(df_tp.head(5))

preprocessed_test: (11847, 20)

,index,Id,Page content,data-channel,title,raw_content,content_length,avg_word_length,topics,author,year,month,day,hour,min,sec,weekends,img_number,link_number,title_length
0,0,27643,"<html><head><div class=""article-info""><span cl...",5,soccer star get twitter death threat after tac...,note humanity one direct fandom ain t nothin m...,622,5.220114,entertainment music on direction soccer sport,243,2013,9,9,19,47,2,0,1,30,74
1,1,27644,"<html><head><div class=""article-info""><span cl...",25,googl glass get accessori store,shortli announc hardwar upgrad googl glass own...,149,4.739437,gadgets glass google googl glass googl glass tech,263,2013,10,31,9,25,2,0,3,13,36
2,2,27645,"<html><head><div class=""article-info""><span cl...",2,ouya game consol alreadi sold out amazon,well quick just hour go sale u s canada uk ouy...,168,5.018293,amazon amazon kindle business gam,278,2013,6,25,12,54,54,0,2,13,46
3,3,27646,"<html><head><div class=""article-info""><span cl...",6,two ferns mock oscar nomine,between two ferns oscar buzz edit part zach ga...,162,5.581699,two ferns movies th oscars oscar,211,2013,2,13,3,30,21,0,1,15,40
4,4,27647,"<html><head><div class=""article-info""><span cl...",5,sniper trailer look like eastwood may Be back ...,ever sinc the hurt locker seem like military t...,225,5.041096,american sniper awards bradley cooper clint ea...,142,2014,10,3,1,34,54,0,1,10,70

title_tfidf_tsne_test: (11847, 3)

           0          1          2
0  16.643034 -29.885660 -37.205980
1  -7.531660  10.034243 -43.818336
2 -14.594997 -19.404720  47.199028
3  -4.278851  29.432812  27.236320
4  23.818120  -0.059462 -49.796720

content_tfidf_tsne_test: (11847, 3)

           0          1          2
0  25.453863 -13.738965   9.917775
1  -7.649108  15.919584 -16.818075
2  16.951826   4.232488  -4.475815
3  -0.467867 -20.695152  -4.905631
4  -1.435363 -20.496859   5.278312

topic_tfidf_tsne_test: (11847, 3)

           0          1          2
0   6.816614 -12.908992  -9.823444
1  17.831564   8.411661 -20.731312
2  -6.013624 -17.264320  -1.371369
3  -5.639806  -7.274945 -14.487558
4  -2.400199  -6.273100 -10.682630

In [66]:
df_all = pd.concat([df_tp, df_m, df_t, df_c], axis=1)

In [67]:
print('df_all Number of NaN in each column')
print(df_all.isna().sum())

df_all Number of NaN in each column
0                   0
1                   0
2                   0
index               0
Id                  0
Page content        0
data-channel        0
title               0
raw_content         1
content_length      0
avg_word_length     0
topics             51
author              0
year                0
month               0
day                 0
hour                0
min                 0
sec                 0
weekends            0
img_number          0
link_number         0
title_length        0
0                   0
1                   0
2                   0
0                   0
1                   0
2                   0
dtype: int64

In [69]:
df_x = df_all.drop(columns=['index', 'Page content', 'title', 'raw_content', 'topics'])
# df_y = df_all.loc[:, ['Popularity']]

print(f'df_all {df_all.shape}')
display(df_all.head(5))
print(f'df_x {df_x.shape}')
display(df_x.head(5))
# print(f'df_y {df_y.shape}')
# display(df_y.head(5))

df_all (11847, 29)

,0,1,2,index,Id,Page content,data-channel,title,raw_content,content_length,...,weekends,img_number,link_number,title_length,0,1,2,0,1,2
0,6.816614,-12.908992,-9.823444,0,27643,"<html><head><div class=""article-info""><span cl...",5,soccer star get twitter death threat after tac...,note humanity one direct fandom ain t nothin m...,622,...,0,1,30,74,16.643034,-29.885660,-37.205980,25.453863,-13.738965,9.917775
1,17.831564,8.411661,-20.731312,1,27644,"<html><head><div class=""article-info""><span cl...",25,googl glass get accessori store,shortli announc hardwar upgrad googl glass own...,149,...,0,3,13,36,-7.531660,10.034243,-43.818336,-7.649108,15.919584,-16.818075
2,-6.013624,-17.264320,-1.371369,2,27645,"<html><head><div class=""article-info""><span cl...",2,ouya game consol alreadi sold out amazon,well quick just hour go sale u s canada uk ouy...,168,...,0,2,13,46,-14.594997,-19.404720,47.199028,16.951826,4.232488,-4.475815
3,-5.639806,-7.274945,-14.487558,3,27646,"<html><head><div class=""article-info""><span cl...",6,two ferns mock oscar nomine,between two ferns oscar buzz edit part zach ga...,162,...,0,1,15,40,-4.278851,29.432812,27.236320,-0.467867,-20.695152,-4.905631
4,-2.400199,-6.273100,-10.682630,4,27647,"<html><head><div class=""article-info""><span cl...",5,sniper trailer look like eastwood may Be back ...,ever sinc the hurt locker seem like military t...,225,...,0,1,10,70,23.818120,-0.059462,-49.796720,-1.435363,-20.496859,5.278312

df_x (11847, 24)

,0,1,2,Id,data-channel,content_length,avg_word_length,author,year,month,...,weekends,img_number,link_number,title_length,0,1,2,0,1,2
0,6.816614,-12.908992,-9.823444,27643,5,622,5.220114,243,2013,9,...,0,1,30,74,16.643034,-29.885660,-37.205980,25.453863,-13.738965,9.917775
1,17.831564,8.411661,-20.731312,27644,25,149,4.739437,263,2013,10,...,0,3,13,36,-7.531660,10.034243,-43.818336,-7.649108,15.919584,-16.818075
2,-6.013624,-17.264320,-1.371369,27645,2,168,5.018293,278,2013,6,...,0,2,13,46,-14.594997,-19.404720,47.199028,16.951826,4.232488,-4.475815
3,-5.639806,-7.274945,-14.487558,27646,6,162,5.581699,211,2013,2,...,0,1,15,40,-4.278851,29.432812,27.236320,-0.467867,-20.695152,-4.905631
4,-2.400199,-6.273100,-10.682630,27647,5,225,5.041096,142,2014,10,...,0,1,10,70,23.818120,-0.059462,-49.796720,-1.435363,-20.496859,5.278312

In [70]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categories='auto')

df_ohe = ohe.fit_transform(df_x[['data-channel']]).toarray()
df_ohe = pd.DataFrame(df_ohe)
df_concat = pd.concat([df_x.drop(columns=['data-channel']), df_ohe], axis=1)
# df_x = df_concat

print(f'df_concat {df_concat.shape}')
display(df_concat.head(5))
print(f'df_x {df_x.shape}')
display(df_x.head(5))
# print(f'df_y {df_y.shape}')
# display(df_y.head(5))

df_concat (11847, 53)

,0,1,2,Id,content_length,avg_word_length,author,year,month,day,...,20,21,22,23,24,25,26,27,28,29
0,6.816614,-12.908992,-9.823444,27643,622,5.220114,243,2013,9,9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,17.831564,8.411661,-20.731312,27644,149,4.739437,263,2013,10,31,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,-6.013624,-17.264320,-1.371369,27645,168,5.018293,278,2013,6,25,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,-5.639806,-7.274945,-14.487558,27646,162,5.581699,211,2013,2,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-2.400199,-6.273100,-10.682630,27647,225,5.041096,142,2014,10,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

df_x (11847, 24)

,0,1,2,Id,data-channel,content_length,avg_word_length,author,year,month,...,weekends,img_number,link_number,title_length,0,1,2,0,1,2
0,6.816614,-12.908992,-9.823444,27643,5,622,5.220114,243,2013,9,...,0,1,30,74,16.643034,-29.885660,-37.205980,25.453863,-13.738965,9.917775
1,17.831564,8.411661,-20.731312,27644,25,149,4.739437,263,2013,10,...,0,3,13,36,-7.531660,10.034243,-43.818336,-7.649108,15.919584,-16.818075
2,-6.013624,-17.264320,-1.371369,27645,2,168,5.018293,278,2013,6,...,0,2,13,46,-14.594997,-19.404720,47.199028,16.951826,4.232488,-4.475815
3,-5.639806,-7.274945,-14.487558,27646,6,162,5.581699,211,2013,2,...,0,1,15,40,-4.278851,29.432812,27.236320,-0.467867,-20.695152,-4.905631
4,-2.400199,-6.273100,-10.682630,27647,5,225,5.041096,142,2014,10,...,0,1,10,70,23.818120,-0.059462,-49.796720,-1.435363,-20.496859,5.278312

In [71]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_test = sc.fit_transform(df_x.values)

In [ ]:
tune.best_model_predict(X_test)

# best = tune.load_best_model()
# print(f'Best Model')
# print(f'{type(best).__name__}')
# # print(f'Parameters')
# # print(best.get_params())

# pred_best = pd.DataFrame(best.predict_proba(X_test))
# pred_best.to_csv('models/best.csv', index=False, header=False)

In [106]:
df_pred = pd.read_csv('./models/best.csv', header=None, index_col=False)
print(f'df_pred {df_pred.shape}')
display(df_pred)

df_pred (11847, 2)

           0      1
0      0.540  0.460
1      0.534  0.466
2      0.514  0.486
3      0.440  0.560
4      0.532  0.468
...      ...    ...
11842  0.334  0.666
11843  0.472  0.528
11844  0.534  0.466
11845  0.614  0.386
11846  0.464  0.536

[11847 rows x 2 columns]

In [82]:
df_rep = df_pred.replace({-1: 0})
print(f'df_rep {df_rep.shape}')
display(df_rep)

df_rep (11847, 1)

       0
0      0
1      0
2      0
3      1
4      0
...   ..
11842  1
11843  1
11844  0
11845  0
11846  1

[11847 rows x 1 columns]

In [91]:
df_all_pred = pd.concat([df_all['Id'], df_rep], axis=1).rename(columns={0: 'Popularity'})
print(f'df_all_pred {df_all_pred.shape}')
display(df_all_pred)

df_all_pred (11847, 2)

          Id  Popularity
0      27643           0
1      27644           0
2      27645           0
3      27646           1
4      27647           0
...      ...         ...
11842  39485           1
11843  39486           1
11844  39487           0
11845  39488           0
11846  39489           1

[11847 rows x 2 columns]

In [92]:
df_all_pred.to_csv('./pred/rf_best_pred.csv', index=None)